*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #fff8f3;
    background: url(../images/developer.png),url(../images/header_bg.png),#fff8f3;
    background-repeat: no-repeat;
    background-position:23px 38px, bottom right;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color:#FD6E0A;

}
nav .manu{
    display: flex;
    list-style-type:none;
    gap: 51px;
    align-items: center;
}
nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#banner{

    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-image img{
    max-width: 585px;
    vertical-align: middle;

}
#about,#skills,#resume{
    padding-top: 130px;
}
.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
   font-size: 35px;
   margin-bottom: 30px;
}
.section-heading p{
   font-size: 18px;
   margin-bottom: 30px;
   line-height: 30px;
   color: #757575;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.about-info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info h4{
    font-size: 20px;

}

.skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-box{
    display: flex;
    gap: 24px;

}
.skills-card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000028;
    max-width: 267px;

}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-container hr{
    margin: 30px 0;
}
.text-center{
    text-align: center;
}
footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container {


    display: flex;
    gap: 116px;
}

.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container .social p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icons a {
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;

    color: #757575
}